body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("img_tree.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #EEE;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100vh;
}
.container{
    height: 100vh;
    overflow: hidden;
}
.container .row div.box-form h1.login{
    text-align: center;
    color: white;
}
.container .row div.box-img{
    flex: 1;
}
.container .row div.box-img img {
    width: 100%;
}
.container .row div.box-form{
    background: black;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px #1112;
    padding: 10px 20px;
    border: 1px solid #1112;
    flex-grow: .5;
}
.container .row div.box-form label{
    color: #DDD;
}
.container .row div.box-form input.btn
{
    box-sizing: border-box;
    height: 35px;
    border: none;
    background: none;
    border-bottom: 0.7px solid #9c27b0d1;
    outline: none;
    color: #DDD;
}
.container .row div.box-form input.btn:focus
{
    border-bottom: 2.3px solid #8A236F;
}
.container .row div.box-form input.btn.btn-sub{
    background: linear-gradient(140deg, #8A236F, #e14b5f, #ec813f);
    border: none;
    border: 1px solid #8a2387;
    border-radius: 3px;
    box-shadow: 1px 2px 7px #8a2387b0;
    color: #CCC;
    font-weight: bold;
    transition: ease-in .7s;
}
.container .row div.box-form input.btn.btn-sub:hover{
    border: 1px solid #8a2387;
    box-shadow: 1px 2px 10px #8a2387;
    cursor: pointer;
    transition: ease-in .5s;
    color: #fff;
}
.container .row div.box-form .box-media{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}
.container .row div.box-form .box-media .icon{
    flex: 1;
    display: flex;
    justify-content: center;
}

@media screen and (orientation: portrait) {
    /* .row{
        display: block;
    } */
    .container .row div.box-img{
        display: none;
    }
    .container .row div.box-form {
        flex-grow: 1;
    }
  }