*{
    margin: 0;
    padding: 0 1%;
}

/* /////////:::HEADER::::////// */
/* Header */
    /* Satart Nav Bar */
    .nav-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.2rem;
    }
    
    .logo-nav{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.3em;
    }
    
    .ul-elements-nav li{
        display: inline;
        list-style: none;
        font-size: 90%;
    }
    
    .ul-elements-nav a{
        text-decoration: none;
        color: black;
    }
    
    .ul-elements-nav a:hover{
        color: grey;
    }
    
    .ul-elements-nav, .button1-nav, .button2-nav{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .ul-elements-nav{
        display: inline;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 3;
    }
    
    
    .button1-nav{
        background-color: white;
        border: none;
        border-radius: 4px;
        padding: 0.6em;
        width: 60px;
        margin-right: .5em;
    }
    
    .button2-nav{
        background-color: black;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 0.6em;
    }
    
    .button1-nav:hover{
        color: white;
        background-color: black;
    }
    
    .button2-nav:hover{
        color: black;
        background-color: grey;
    }
    /* End Nav Bar */

    /* Start Slugs */
    .imgs-slugs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 1.5em;
    }
    
    .imgs-slugs .img-slugs{
        width: 6em;
    }
    
    .img6-slugs{
        height: 1.5em;
        width: 3em;
    }
     /* End Slugs */

     /* media of navbar and slugs */
    @media screen and  (max-width:730px){
        
        *{
            margin: 0;
            padding: 0;
        }
    
        .nav-elements{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.2rem;
            flex-wrap: wrap;
        }
    
        .ul-elements-nav{
            order: 1;
        }
    
        .ul-elements-nav li {
            font-size: 49%;
        }
        .buttons-nav{
            display: flex;
            justify-content: flex-end;
            min-width: 50%;
        }
        .button1-nav{
            background-color: white;
            border: none;
            border-radius: 4px;
            font-size: 20%;
            width: 30px;
        }
        
        .button2-nav{
            background-color: black;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 20%;
            width: 30px;
        }
    
        .imgs-slugs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 1em;
        }
    
        .img-slugs{
            width: 5em;
            padding-right: 1em;
            margin-bottom: .5em;
        }
    
        .img6-slugs{
            padding-right: 4em;
        }  
    
    }
    /* End of media NavBar and slugs*/

    /* Start Slide */
    textarea,
input {
    outline: none;
}

.first {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 4%;
    width: 84%;
    margin: 0% 0%;
}

.header1 {
    color: white;
}

.para1 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20;
    margin: 0%;
}

/* .bar {
    display: inline;
} */

.img1 {
    position: relative;
    margin-top: 2.5%;
    left: 59vw;
    height: 402px;
    width: 494px;
}

.p1 {
    display: inline;
}

.findtxt {
    background-color: #eee;
    position: relative;
    font-size: small;
    margin-left: 0%;
    padding: 1px;
    border: none;
    background: none;
}

.form {
    display: flex;
    background: #EEE;

    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 1% 2% 10% #7b7575bf;
    /* margin-right: 0%;
    margin-top: 0%; */

    padding: 8px 60px;
    box-sizing: border-box;
}

.second h4{
    padding: 5px;
}

.botton1{
    position: relative;
    padding: 12px 2%;
    margin-left: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
    background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
    border-width: 3%;
    border-radius: 4px;
    font-size: 0.9em;
}

.search {
    padding: 3%;
    display: flex;
    align-items: center;
    flex-direction: row;

}

.bar2 {
    position: relative;
    background-color: black;
    color: white;
    padding: 4%;
    margin: 40px;
}
.botton2{
    position: relative;
    padding: 12px 2%;
    margin-left: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
    background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
    border-width: 3%;
    border-radius: 4px;
    font-size: 0.9em;
}
.signin{
    padding: 2%;
}
.google {
    padding: 12px 2%;
    background: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.img2 {
    position: absolute;
    top: 40px;
    right: 15%;
    height: 23em;
    width: 35em;
}

.fa{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 15%;
    border-radius: 50%;
    font-size: 1rem;
}
    /* End Slide */

/* End Header */

/* /////////:::BODY::::////// */
/* Body */
    /* Start Rewards */
      /* done icons*/
        .fa{
          background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
          color: rgb(255, 255, 255);
          border: 15%;
          border-radius: 50%;
          font-size: 1rem;
        }
        /*the botton */
        button {
          position: relative;
          padding: 2% 3.5%;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: white;
          background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
          border-width: 0px;
          border-radius: 4px;
          font-size: 0.9em;
        }
        /* the text and 2 pictures */
        .row{
          display: grid;
          grid-template-columns: auto auto auto;
        }
        /* 2eme tache*/
          .gallery {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(8, 5vw);
            grid-gap: 15px;
        }
        .text
        {
            padding: 1rem;
        }
        /* phone ans tablet display*/
        @media only screen and (max-width: 500px)
        {
            .left-illustration
            {
              display: none;
            }
            .right-illustration
            {
              display: none;
            }

        }
            /* End Rewards */

            /* Start Slide */
            ...
            /* End Slide */

            /* Start Gallry */
        .header {
          text-align: center;
          padding: 32px;
        }

        .row {
          display: flex;
          flex-wrap: wrap;
          padding: 0 4px;
        }


        .column {
          flex: 25%;
          max-width: 25%;
          padding: 0 4px;
          box-sizing: border-box;
        }

        .column img {
          margin-top: 8px;
          vertical-align: middle;
          width: 100%;
        }


        @media screen and (max-width: 800px) {
          .column {
            flex: 50%;
            max-width: 50%;
          }
        }


        @media screen and (max-width: 600px) {
          .column {
            flex: 100%;
            max-width: 100%;
          }
        }
    /* End Gallry */
/* End Body */

/* /////////:::BODY::::////// */
/* Footer */
    ...
/* End Footer */
