*{
    margin: 0;
    padding: 0 1%;
}

/* /////////:::HEADER::::////// */
/* Header */
    /* Satart Nav Bar */
    .nav-elements{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.2rem;
    }
    
    .logo{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.3em;
    }
    
    .ul-elements li{
        display: inline;
        list-style: none;
        font-size: 90%;
    }
    
    .ul-elements a{
        text-decoration: none;
        color: black;
    }
    
    .ul-elements a:hover{
        color: grey;
    }
    
    .ul-elements, .button1, .button2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .ul-elements{
        display: inline;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 3;
    }
    
    
    .button1{
        background-color: white;
        border: none;
        border-radius: 4px;
        padding: 0.6em;
        width: 60px;
        margin-right: .5em;
    }
    
    .button2{
        background-color: black;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 0.6em;
    }
    
    .button1:hover{
        color: white;
        background-color: black;
    }
    
    .button2:hover{
        color: black;
        background-color: grey;
    }
    /* End Nav Bar */

    /* Start Slugs */
    .imgs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 1.5em;
    }
    
    .imgs .img{
        width: 6em;
    }
    
    .img6{
        height: 1.5em;
        width: 3em;
    }
     /* End Slugs */

     /* media of navbar and slugs */
    @media screen and  (max-width:730px){
        
        *{
            margin: 0;
            padding: 0;
        }
    
        .nav-elements{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.2rem;
            flex-wrap: wrap;
        }
    
        .ul-elements{
            order: 1;
        }
    
        .ul-elements li {
            font-size: 49%;
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            min-width: 50%;
        }
        .button1{
            background-color: white;
            border: none;
            border-radius: 4px;
            font-size: 20%;
            width: 30px;
        }
        
        .button2{
            background-color: black;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 20%;
            width: 30px;
        }
    
        .imgs {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 1em;
        }
    
        .img{
            width: 5em;
            padding-right: 1em;
            margin-bottom: .5em;
        }
    
        .img6{
            padding-right: 4em;
        }  
    
    }
    /* End of media NavBar and slugs*/

    /* Start Slide */
    ...
    /* End Slide */

/* End Header */

/* /////////:::BODY::::////// */
/* Body */
    /* Start Rewards */
    ...
    /* End Rewards */

    /* Start Slide */
    ...
    /* End Slide */

    /* Start Gallry */
    ...
    /* End Gallry */
/* End Body */

/* /////////:::BODY::::////// */
/* Footer */
    ...
/* End Footer */